.del {
  color: white;
  background-color: red;
  border: none;
  padding: 4px 8px;
  border-radius: 1rem;
}

.todo {
  border-bottom: 1px dotted black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.is-complete {
  text-decoration: line-through;
}
